/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart-container {
    background-color: white;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
 
    margin-bottom: 20px;
}
p {
    font-weight: bold;
}

.cart-summary {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkout-button {
    margin-top: 80px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #218838;
}

.checkout-section {
    background-color: white;
    padding: 20px;
    width: 35%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hidden by default */
}

#checkout-section form {
    display: flex;
    flex-direction: column;
}

#checkout-section label {
    margin: 10px 0 5px;
}

#checkout-section input,
#checkout-section select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#checkout-section button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-section button:hover {
    background-color: #0056b3;
}


