.navBar {
    height: 70px;
    background-color: rgb(19, 65, 28);
    font-weight: bolder;
    margin: 0px;
}
.navLeft {
    width: 40%;
    height: 100px;
    float: left;
}
.navLeft img {
    border: 3px solid rgb(12, 122, 47);
    border-radius: 3px;
}

.navRight {
    width: 35%;
    float: right;
    height: 100px;
    margin-top: 20px;
    
    
}
.navRight a {
    text-align: center;
    text-decoration: none;
    color: rgb(222, 212, 212);
    padding: 30px;
    margin-right: 30px;
}
body{
    margin: 0px;
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230705/pngtree-horizontal-banner-of-aloe-vera-in-3d-rendered-green-clay-pots-image_3759590.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.landing{
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    
   
    width: 50%;
    padding: 20px;
    margin-left: 15%;
}
.content h1{
    
    margin-top: 50%;
    text-align: justify;
    color: rgb(19, 65, 28);
   
    font-size:xx-large;
    margin-bottom: 1rem ;
}
.content h3{
    margin-top: 0px;
    text-align: justify;
    
    font-size:xx-large;
    margin-bottom: 1rem ;
}



.content p{
    margin-top: 0%;
    font-size:x-large;
    color: rgb(19, 65, 28);
    text-align: justify;
    margin-bottom: 30px;
}
.content a{
    margin-top: 20%;
    font-size:xx-large;
    text-align: justify;
    margin-bottom: 1rem ;
}


.shop-button{
    padding: 15px 30px;
    background-color: rgb(19, 65, 28);
    color: white;
    text-decoration: none;
    font-size: medium;
    border-radius: 10px;
    
    transition: background-color 0.3s ease , transform 0.3s ease;

}
.shop-button:hover{
    background-color: green;
    transform: scale(1.1);

}
.shop-button:active{
    background-color: rgb(226, 5, 119);
}






